/* Logo */
#logo {
    height: 4.5rem;
    position: relative;
    bottom: 10px;
}

/* Background image/overrides */
html {
    background-image: url("../assets/back.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

body {
    background: none;
}

/* Card Background */
.bg-translucent {
    background-color: #1a1a1a !important;
    background-color: #1a1a1ad3 !important;
}

.bg-translucent * {
    color: rgb(140, 77, 182);
    /* added purple */
}

/* Card Spacer */
hr[spacer] {
    display: block;
    border: none;
    background: none;
    padding: 0; margin: 0;
    width: 100%;
    height: 50px;
}

/* hr overrides */
hr { border-color: white; }

/* Utilities */
.flex-1 {
    flex: 1;
}
/* Nimesh code ends */
